{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron" style="background-color: darkblue; color: white">
        <div class="container">
            <h1 style="font-family: 'Allura', cursive; font-size: 72pt;">
                <span class="fa fa-eraser" aria-hidden="true"></span>
                Corrector
            </h1>
            <p>Corpora correcting page...</p>
        </div>
    </div>
    
    <div class="container">
        <h2>Choose corpus</h2>
        <div class="container">
            <table class="table table-striped">
                <thead class="thead-inverse">
                <tr>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for c in corpora %}
                    <tr>
                        <td>
                            <a href="speech/{{ c }}">{{ c }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}