{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron" style="background-color: darkblue; color: white">
        <div class="container">
            <h1 style="font-family: 'Allura', cursive; font-size: 72pt;">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                Korektor
            </h1>
            <p>Strona do korekcji korpusów...</p>
        </div>
    </div>

    <script type="text/javascript">
        function io_redirect(destination, arg) {
            var pass = prompt('Enter password');
            path = destination + '?pass=' + pass;
            if (arg != null) {
                path += '&' + arg;
            }
            window.location.href = path;
        }
        function admin_switch() {
            $('.admin').css('display', 'inline');
            $('#admin_btn').prop('disabled', true);
        }
    </script>

    <div class="container">
        <button id="admin_btn" class="btn" onclick="admin_switch()">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Admin
        </button>
        <button class="btn admin" onclick="io_redirect('/import',null)">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Import
        </button>
    </div>


    <div class="container">
        <h2>Wybierz korpus</h2>
        <div class="container col-md-6">
            <table class="table">
                <tr>
                    <th>Rodzaj</th>
                    <th>Nazwa</th>
                    <th>&nbsp;</th>
                </tr>
                {% for c in corpora %}
                    <tr>
                        <td>{{ c.kind }}</td>
                        <td>
                            <a href="{{ c.coll }}">{{ c.name }}</a>
                        </td>
                        <td>
                            <button class="btn btn-info admin"
                                    onclick="io_redirect('/export','corp={{ c.coll }}&type={{ c.kind }}')">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Export
                            </button>
                            <button class="btn btn-danger admin" onclick="io_redirect('/remove','corp={{ c.coll }}')">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}