{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron" style="background-color: darkblue; color: white">
        <div class="container">
            <h1 style="font-family: 'Allura', cursive; font-size: 72pt;">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                Korektor
            </h1>
            <p>Strona do korekcji korpusów...</p>
        </div>
    </div>

    {% if is_admin %}
        <div class="container">
            <a class="btn btn-info" href="/import">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Import
            </a>
        </div>
    {% endif %}


    <div class="container">
        <h2>Wybierz korpus</h2>
        <div class="container col-md-6">
            <table class="table">
                <tr>
                    <th>Rodzaj</th>
                    <th>Nazwa</th>
                    <th>&nbsp;</th>
                </tr>
                {% for c in corpora %}
                    <tr>
                        <td>{{ c.kind }}</td>
                        <td>
                            <a href="{{ c.coll }}">{{ c.name }}</a>
                        </td>
                        {% if is_admin %}
                            <td>
                                <a class="btn btn-info" href="/export?corp={{ c.coll }}&type={{ c.kind }}"
                                   onclick="return confirm('Na pewno?')">
                                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Export
                                </a>
                                <a class="btn btn-danger" href="/remove?corp={{ c.coll }}"
                                   onclick="return confirm('Na pewno?')">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}