<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Corrector</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/3.3.0/diff.min.js"
            integrity="sha256-szRKlVjjMz/osRQKeJSN0d3zbSWZiGheWQme17FSKso=" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?ver=2">
    <script src="{{ url_for('static', filename='scripts.js') }}?ver=4"></script>

</head>
<body>
<div style="background-color: black">
    {% if g.identity.id %}
        <div class="container" style="text-align:right">
            <span style="color:gray;">Zalogowany jako: {{ g.identity.id }} -- </span>
            <a href="/logout" style="color: white">Wyloguj</a>
        </div>
    {% endif %}
</div>
{% block body %} {% endblock %}
</body>
</html>