{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Korpus "{{ name }}"</h1>
            <p>Leksykon <span class="fa fa-book" aria-hidden="true"></span>
            </p>
            <a href="/">Powrót na główną stronę</a>
        </div>
    </div>

    <div id="lexicon" class="container">

        <table class="table">
            <tr>
                <th>Słowo</th>
                <th>Transkrypcja</th>
                <th>Dodaj/usuń</th>
            </tr>
            {% for item in items %}
                {% for ph in item.phon %}
                    <tr>
                        {% if loop.index0 == 0 %}
                            <td>{{ item.orto }}</td>
                        {% else %}
                            <td><span class="fa fa-arrow-up" aria-hidden="true"></span></td>
                        {% endif %}

                        <td><input type="text" value="{{ ph|join(' ') }}"
                                   onchange="update_lex('{{ name }}','{{ item.id }}',{{ loop.index0 }},this);"></td>

                        {% if loop.index0 == 0 %}
                            <td>
                                <button class="btn" onclick="add_lex('{{ name }}','{{ item.id }}');">
                                    <span class="fa fa-plus-circle green" aria-hidden="true"></span>
                                </button>
                            </td>
                        {% else %}
                            <td>
                                <button class="btn" onclick="rem_lex('{{ name }}','{{ item.id }}',{{ loop.index0 }});">
                                    <span class="fa fa-minus-circle red" aria-hidden="true"></span>
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}

        </table>

        <nav style="text-align: center">
            <ul class="pagination">
                {% for p in range(pagination_start,pagination_end) %}
                    {% set text = p|string %}
                    {% if p == pagination_start %}
                        {% set text = '...' + text %}
                    {% elif p==pagination_end-1 %}
                        {% set text = text + '...' %}
                    {% endif %}
                    {% if p - 1 == page %}
                        <li class="page-item active">
                            <a class="page-link" href="/lex/{{ name }}/{{ p - 1 }}">{{ p }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="/lex/{{ name }}/{{ p - 1 }}">{{ text }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>

{% endblock %}