{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron" style="background-color: darkblue; color: white">
        <div class="container">
            <h1 style="font-family: 'Allura', cursive; font-size: 72pt;">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                Korektor
            </h1>
            <p>
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                Zaloguj się...
            </p>
        </div>
    </div>

    {% if err %}
        <div class="container">
            <div class="alert alert-danger">Podano złe dane!</div>
        </div>
    {% endif %}

    <div class="container">
        <form method="post" action="/login">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="user">Login:</label>
                {{ form.user(class='form-control') }}
            </div>
            <div class="form-group">
                <label for="passwd">Hasło:</label>
                {{ form.passwd(class='form-control') }}
            </div>
            <button type="submit" class="btn btn-default">Zaloguj</button>
        </form>
    </div>
{% endblock %}