{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron" style="background-color: darkblue; color: white">
        <div class="container">
            <h1 style="font-family: 'Allura', cursive; font-size: 72pt;">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                Corrector
            </h1>
            <p>
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                Log in...
            </p>
        </div>
    </div>

    {% if err %}
        <div class="container">
            <div class="alert alert-danger">Incorrect data!</div>
        </div>
    {% endif %}


    {% if blocked %}
        <div class="container">
            <div class="alert alert-danger">Wrong password entered too many times! Contanct admin...
            </div>
        </div>
    {% endif %}

    {% if g.identity.id %}
        <div class="container" style="text-align: center">
            <h2>This part of the site is restricted</h2>
            <h3>Use different credentials to log-in</h3>
        </div>
    {% endif %}


    <div class="container">
        <form method="post" action="/login?next={{ request.args.get('next') }}">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="user">Login:</label>
                {{ form.user(class='form-control') }}
            </div>
            <div class="form-group">
                <label for="passwd">Password:</label>
                {{ form.passwd(class='form-control') }}
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
{% endblock %}