{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Corpus "{{ name }}"</h1>
            <p>Normalization <span class="fa fa-refresh" aria-hidden="true"></span>
            </p>
            <a href="/">Back to home page</a>
        </div>
    </div>

    <div id="normalization" class="container">

        <div class="norm_item card">
            <h2 class="card-header">
                Original
                <button id="diff_btn" class="btn" style="float: right">Diff</button>
            </h2>
            <div class="card-body">{{ item.orig }}</div>
        </div>

        <div class="card">
            <h2 class="card-header">
                <a href="#norm_c{{ item.id }}" data-toggle="collapse" aria-expanded="false"
                   aria-controls="norm_c{{ item.id }}">
                    Normalizer
                </a>
            </h2>
            <div class="norm collapse card-body" id="norm_c{{ item.id }}">
                <span id="orig">{{ item.norm }}</span>
                <span id="orig_diff" class="hide">test</span>
            </div>
        </div>
        <div class="card">

            <h2 class="card-header">Correction</h2>
            {% if item.corr %}
                {% set input_value =  item.corr %}
            {% else %}
                {% set input_value =  item.norm %}
            {% endif %}

            <div class="corr card-body">
                <textarea id="edit_text" class="edit" spellcheck="true" type="text"
                          onkeyup="update_norm('{{ name }}','{{ item.id }}');">{{ input_value }}</textarea>
                <span id="corr_diff" class="hide">test</span>
            </div>
            <div class="edit card-body">
                <button class="btn btn-success"
                        onclick="update_norm('{{ name }}','{{ item.id }}');">
                    Zapisz
                </button>
                <button class="btn btn-danger" onclick="revert_norm('{{ name }}','{{ item.id }}');">Anuluj wszystkie
                    zmiany
                </button>
                <button class="btn btn-info" onclick="show_saved('{{ name }}','{{ item.id }}');">Co zapisano na
                    serwerze?
                </button>
                <p id="save_info" style="float:right">
                    <span class="fa fa-check green" aria-hidden="true"></span> Zapisano
                </p>
            </div>
        </div>

        <div class="card" style="text-align: center">
            <p class="card-header">Page</p>
            <div class="card-body">
                {% if page==1 %}
                    <span>&lt;&lt; Back</span>
                    <input type="number" value="{{ page }}" onchange="norm_page('{{ name }}',this.value)">
                    <a class="btn" href="{{ name }}/{{ page + 1 }}">Next &gt;&gt;</a>
                {% elif page==page_num %}
                    <a class="btn" href="{{ page - 1 }}">&lt;&lt; Back</a>
                    <input type="number" value="{{ page }}" onchange="norm_page('{{ name }}',this.value)">
                    <span>Next &gt;&gt;</span>
                {% else %}
                    <a class="btn" href="{{ page - 1 }}">&lt;&lt; Back</a>
                    <input type="number" value="{{ page }}" onchange="norm_page('{{ name }}',this.value)">
                    <a class="btn" href="{{ page + 1 }}">Next &gt;&gt;</a>
                {% endif %}
                <p><a href="/norm/{{ name }}/list">List all pages</a></p>
            </div>
        </div>

        <script type="text/javascript">
            autosize($('textarea'));
            $('#diff_btn').click(diff_norm);

            {% if item.corr %}
                $('body').toggleClass('modified', true);
            {% endif %}
        </script>

    </div>

    <div id="savedDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">What was saved on the server?</h4>
                </div>
                <div class="modal-body" id="savedContent">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}