{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Corpus "{{ name }}"</h1>
            <p>Normalization <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </p>
            <a href="/">Back to home page</a>
        </div>
    </div>

    <div class="container page-list">
        {% for page in pages %}
            {% if page.modified %}
                {% set modified='page-modified' %}
            {% endif %}

            <a class="btn btn-sm btn-outline-primary {{ modified }}" href="/norm/{{ name }}/{{ page.id + 1 }}">
                {{ page.id + 1 }}
            </a>
        {% endfor %}
    </div>


{% endblock %}