{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Korpus "{{ name }}"</h1>
            <p>Normalizacja <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </p>
            <a href="/">Powrót na główną stronę</a>
        </div>
    </div>

    <div class="container">
        <ul class="pagination">
            {% for page in pages %}
                <li class="page-item">
                    {% if page.modified %}
                        <a style="background-color: rgba(255, 200, 100, 0.3)"
                    {% else %}
                        <a
                    {% endif %}
                    class="page-link" href="/norm/{{ name }}/{{ page.id + 1 }}">
                        {{ page.id + 1 }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}