{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Korpus "{{ name }}"</h1>
            <p>Normalizacja <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </p>
            <a href="/">Powrót na główną stronę</a>
        </div>
    </div>

    <div id="normalization" class="container">

        <p style="float:right">
            <button id="diff_btn" class="btn">Diff</button>
        </p>
        <script type="text/javascript">
            $('#diff_btn').click(diff_norm);

            {% if item.corr %}
                $('body').toggleClass('modified', true);
            {% endif %}

        </script>


        <div class="norm_item">
            <h2>Oryginał</h2>
            <div>{{ item.orig }}</div>

            <h2>
                <a href="#norm_c{{ item.id }}" data-toggle="collapse" aria-expanded="false"
                   aria-controls="norm_c{{ item.id }}">
                    Normalizator
                </a>
            </h2>
            <div class="norm collapse" id="norm_c{{ item.id }}">
                <span class="edit">{{ item.norm }}</span>
                <span class="diff hide">test</span>
            </div>

            <h2>Korekta</h2>
            {% if item.corr %}
                {% set input_value =  item.corr %}
            {% else %}
                {% set input_value =  item.norm %}
            {% endif %}

            <div class="corr">
                <textarea id="edit_text" class="edit" spellcheck="true" type="text"
                          onchange="update_norm('{{ name }}','{{ item.id }}');">{{ input_value }}</textarea>
                <span class="diff hide">test</span>
            </div>
            <div class="edit">
                <button class="btn btn-primary"
                        onclick="update_norm('{{ name }}','{{ item.id }}');">
                    Zatwierdź bez zmian
                </button>
                <button class="btn btn-danger" onclick="revert_norm('{{ name }}','{{ item.id }}');">Anuluj zmiany
                </button>
            </div>
        </div>

        <div class="container" style="text-align: center">
            <p>Strona:</p>
            {% if page==1 %}
                <span>&lt;&lt; Poprzednia</span>
                <input type="number" value="{{ page }}" onchange="norm_page('{{ name }}',this.value)">
                <a class="btn" href="{{ name }}/{{ page + 1 }}">Następna &gt;&gt;</a>
            {% elif page==page_num %}
                <a class="btn" href="{{ page - 1 }}">&lt;&lt; Poprzednia</a>
                <input type="number" value="{{ page }}" onchange="norm_page('{{ name }}',this.value)">
                <span>Następna &gt;&gt;</span>
            {% else %}
                <a class="btn" href="{{ page - 1 }}">&lt;&lt; Poprzednia</a>
                <input type="number" value="{{ page }}" onchange="norm_page('{{ name }}',this.value)">
                <a class="btn" href="{{ page + 1 }}">Następna &gt;&gt;</a>
            {% endif %}
            <p><a href="/norm/{{ name }}/list">Lista wszystkich stron</a></p>
        </div>

        <script type="text/javascript">
            autosize($('textarea'));
        </script>

    </div>
{% endblock %}