{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Lista stron korpusu "{{ name }}"</h1>
            <p>Dla indeksu {{ index }}</p>
        </div>
    </div>

    <div class="container">
        <ul class="pagination">
            {% for item in items %}
                <li>
                    {% if item.mod %}
                        <a style="background-color: rgba(255, 200, 100, 0.3)" class="page-link"
                           href="/speech/{{ name }}/{{ index }}/{{ item.id }}">
                            {{ item.utt }}
                        </a>
                    {% else %}
                        <a href="/speech/{{ name }}/{{ index }}/{{ item.id }}" class="page-link">
                            {{ item.utt }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}