{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Korpus "{{ name }}"</h1>
            <p>Mowa <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
            </p>
            {% if index != 'default' %}
                <p>Indeks: {{ index }}</p>
            {% endif %}
            <div><a href="/speech/{{ name }}/index">Indeksy korpusu</a></div>
            <div><a href="/">Powrót na główną stronę</a></div>
        </div>
    </div>

    <div id="speech" class="container">

        {#        <ul>#}
        {#            {% for idx,num in item.index.iteritems() %}#}
        {#                <li>{{ idx }}: {{ num }}</li>#}
        {#            {% endfor %}#}
        {#        </ul>#}

        <h2>Zdanie:<b> {{ item.utt }}</b></h2>
        {% if item.wer is defined %}
            <p>[WER: {{ '{:%}'.format(item.wer) }} Edits: {{ item.edits }}#]</p>
        {% endif %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/wavesurfer.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.regions.min.js"></script>

        <div class="panel panel-default">
            <div class="panel-body">
                <input id="slider" type="range" min="100" max="300" value="100" style="width: 100%">
                <div id="waveform"></div>

                <script src="{{ url_for('static', filename='speech.js') }}?ver=2"></script>
                <script type="text/javascript">
                    wavesurfer.load('/speech/{{ name }}/wav/{{ page }}');
                    wavesurfer.on('ready', function () {
                        {% for reg in item.regions %}
                            add_region({{ reg[0] }}, {{ reg[1] }});
                        {% endfor %}
                    });
                </script>

                <button class="btn btn-primary" onclick="wavesurfer.playPause()">
                    <span class="glyphicon glyphicon-play"></span>
                    Odtwórz/Zatrzymaj
                </button>

                <a href="/speech/{{ name }}/wav/{{ page }}">WAV</a>

                <span style="float: right;">
                    <button class=" btn" onclick="add_region(1,2)">
                    <span class="glyphicon glyphicon-plus"></span>
                    Dodaj region do pominięcia
                    </button>

                    <span style="font-size: 8pt">(usuwanie podwójnym klikiem)</span>

                    <button class="btn btn-success" onclick="save_regions('{{ name }}','{{ item.id }}')">
                        <span class="glyphicon glyphicon-check"></span>
                        Zapisz
                    </button>
                </span>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Oryginał
            </div>
            <div class="panel-body">
                <p id="orig">{{ item.text }}</p>
                <p id="orig_diff" class="diff hide">test</p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Korekta
                <span style="float:right; position: relative; top:-7px">
                    <button id="save_btn" class="btn btn-success" onclick="save_speech('{{ name }}','{{ item.id }}')">
                        <span class="glyphicon glyphicon-check"></span>
                        Zapisz
                    </button>
                    <button id="diff_btn" class="btn btn-info">Diff</button>
                    <button id="save_btn" class="btn btn-danger" onclick="undo_speech('{{ name }}','{{ item.id }}')">
                        <span class="glyphicon glyphicon-remove"></span>
                        Usuń zmiany
                    </button>
                </span>

                <script type="text/javascript">
                    $('#diff_btn').click(function () {
                        diff_norm();
                    });
                </script>
            </div>

            {% if item.corr %}
                {% set input_value =  item.corr %}
                {% set class_value = 'modified' %}
            {% else %}
                {% set input_value =  item.text %}
                {% set class_value = '' %}
            {% endif %}

            <div class="panel-body">
                <textarea id="corr" oninput="update_speech()"
                          class="{{ class_value }}">{{ input_value }}</textarea>
                <p id="corr_diff" class="diff hide">test</p>
            </div>
        </div>

        <div class="container" style="text-align: center">
            <p>Strona:</p>
            {% if page==0 %}
                <span>&lt;&lt; Poprzednia</span>
                <input type="number" value="{{ page }}" onchange="speech_page('{{ name }}','{{ index }}',this.value)">
                <a class="btn" href="/speech/{{ name }}/{{ index }}/{{ page + 1 }}">Następna &gt;&gt;</a>
            {% elif page==page_num-1 %}
                <a class="btn" href="{{ page - 1 }}">&lt;&lt; Poprzednia</a>
                <input type="number" value="{{ page }}" onchange="speech_page('{{ name }}','{{ index }}',this.value)">
                <span>Następna &gt;&gt;</span>
            {% else %}
                <a class="btn" href="{{ page - 1 }}">&lt;&lt; Poprzednia</a>
                <input type="number" value="{{ page }}" onchange="speech_page('{{ name }}','{{ index }}',this.value)">
                <a class="btn" href="{{ page + 1 }}">Następna &gt;&gt;</a>
            {% endif %}
            <p><a href="/speech/{{ name }}/{{ index }}/list">Lista wszystkich stron</a></p>
        </div>
    </div>

{% endblock %}
