{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Corpus "{{ name }}"</h1>
            <p>Speech <span class="fa fa-comments" aria-hidden="true"></span>
            </p>
            {% if index != 'default' %}
                <p>Index: {{ index }}</p>
            {% endif %}
            <div><a href="/speech/{{ name }}/index">Corpus indices</a></div>
            <div><a href="/">Back to home page</a></div>
        </div>
    </div>

    <div id="speech" class="container">

    <h2>Utterance:<b> {{ item.utt }}</b></h2>
    {% if item.wer is defined %}
        <p>[WER: {{ '{:%}'.format(item.wer) }} Edits: {{ item.edits }}#]</p>
    {% endif %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/plugin/wavesurfer.regions.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/plugin/wavesurfer.minimap.min.js"></script>


    <div class="card">
        <div class="card-body">

            <div class="container">
                <button class="btn btn-warning" onclick="zoom(0)">
                    <i class="fa fa-search"></i>
                    Zoom All
                </button>
                <button class="btn btn-warning" onclick="zoom(1)">
                    <i class="fa fa-search-plus"></i>
                    Zoom In
                </button>
                <button class="btn btn-warning" onclick="zoom(-1)">
                    <i class="fa fa-search-minus"></i>
                    Zoom Out
                </button>
                (<span id="zoom_level">0</span>x)
            </div>

            <div class="container my-3">
                <div id="waveform"></div>
            </div>

            <script src="{{ url_for('static', filename='speech.js') }}?ver=8"></script>
            <script type="text/javascript">
                create_wavesurfer('/speech/{{ name }}/{{ index }}/wav/{{ page }}');
                wavesurfer.on('ready', function () {
                    {% for reg in item.regions %}add_region({{ reg[0] }}, {{ reg[1] }});
                    {% endfor %}
                    region_modified = false;
                    $('minimap').css({'background-color': '#abc'})
                });
            </script>

            <div class="container">
                <button class="btn btn-primary col-md-3" onclick="wavesurfer.playPause()">
                    <span class="fa fa-play"></span>
                    Play/Pause
                </button>

                <div class="col-md-6 float-right">
                    <button class="btn col-md-7" onclick="add_region_curr()">
                        <i class="fa fa-plus"></i>
                        Add skip region
                    </button>

                    <button class="btn btn-success col-md-4"
                            onclick="save_regions('{{ name }}','{{ item.id }}')">
                        <span class="fa fa-check"></span>
                        Save regions
                    </button>
                </div>
            </div>

            <div class="container">

                <a href="/speech/{{ name }}/{{ index }}/wav/{{ page }}" class="btn btn-warning btn-sm mt-2">
                    <i class="fa fa-download"></i>
                    WAV
                </a>
                <button class="btn btn-info btn-sm mt-2" data-toggle="modal" data-target="#skrotyModal">
                    <i class="fa fa-question-circle"></i>
                    Keyboard shortcuts
                </button>

                <div class="col-md-6 float-right">
                    <div style="font-size: 8pt">(remove by double-click)</div>
                </div>
            </div>
        </div>

        <div class="card">
            <h3 class="card-header">
                <a href="#orig-card" data-toggle="collapse" aria-expanded="false"
                   aria-controls="orig-card">
                    Original
                </a>
            </h3>

            <div class="collapse card-body" id="orig-card">
                <p class="card-text" id="orig">{{ item.text }}</p>
                <p id="orig_diff" class="diff hide card-text">test</p>
            </div>
        </div>

        <div class="card">
            <h3 class="card-header">
                Correction
                <span style="float:right; position: relative; top:-7px">
                    <button id="save_btn" class="btn btn-success" onclick="save_speech('{{ name }}','{{ item.id }}')">
                        <span class="fa fa-check"></span>
                        Save
                    </button>
                    <button id="diff_btn" class="btn btn-info">Diff</button>
                    <button id="save_btn" class="btn btn-danger" onclick="undo_speech('{{ name }}','{{ item.id }}')">
                        <span class="fa fa-remove"></span>
                        Remove changes
                    </button>
                </span>

                <script type="text/javascript">
                    $('#diff_btn').click(function () {
                        diff_norm();
                    });
                </script>
            </h3>

            {% if item.corr %}
                {% set input_value =  item.corr %}
                {% set class_value = 'modified' %}
            {% else %}
                {% set input_value =  item.text %}
                {% set class_value = '' %}
            {% endif %}

            <div class="card-body">
                <textarea id="corr" oninput="update_speech()"
                          class="{{ class_value }}">{{ input_value }}</textarea>
                <p id="corr_diff" class="diff hide">test</p>
            </div>
        </div>

        <div class="card" style="text-align: center">
            <div class="card-header">Page</div>
            <div class="card-body">
                {% if page==0 %}
                    <span>&lt;&lt; Previous</span>
                    <input type="number" value="{{ page }}"
                           onchange="speech_page('{{ name }}','{{ index }}',this.value)">
                    <a class="btn" href="/speech/{{ name }}/{{ index }}/{{ page + 1 }}">Next &gt;&gt;</a>
                {% elif page==page_num-1 %}
                    <a class="btn" href="{{ page - 1 }}">&lt;&lt; Previous</a>
                    <input type="number" value="{{ page }}"
                           onchange="speech_page('{{ name }}','{{ index }}',this.value)">
                    <span>Next &gt;&gt;</span>
                {% else %}
                    <a class="btn" href="{{ page - 1 }}">&lt;&lt; Previous</a>
                    <input type="number" value="{{ page }}"
                           onchange="speech_page('{{ name }}','{{ index }}',this.value)">
                    <a class="btn" href="{{ page + 1 }}">Next &gt;&gt;</a>
                {% endif %}
                <p><a href="/speech/{{ name }}/{{ index }}/list">List all</a></p>
            </div>
        </div>
    </div>



    <div id="skrotyModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="skrotyModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Keyboard shortcuts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>NumKey 0</td>
                            <td>Play/pause</td>
                        </tr>
                        <tr>
                            <td>NumKey +</td>
                            <td>Zoom In</td>
                        </tr>
                        <tr>
                            <td>NumKey -</td>
                            <td>Zoom Out
                            </td>
                        </tr>
                        <tr>
                            <td>NumKey /</td>
                            <td>Zoom All</td>
                        </tr>
                        <tr>
                            <td>NumKey 4</td>
                            <td>Skip 1s back</td>
                        </tr>
                        <tr>
                            <td>NumKey 6</td>
                            <td>Skip 1s forward</td>
                        </tr>
                        <tr>
                            <td>NumKey 1</td>
                            <td>Skip to beginning</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
